* {
  box-sizing: border-box;
}
html {
  font-family: 'Rubik', sans-serif;
  font-size: 17px;
  font-weight: 400;
  background: #FFFFFF;
  color: #222222;
}
.container {
  /* padding: 0 calc(50% - 777px); */

  margin: 0 auto;
  max-width: 1554px;
  width: 100%;
}
.header {
  display: flex;
  height: 86px;
}
.logo {
  display: inline-block;
  width: 245px;
  height: 49.94px;
}
.header__logo {
  position: relative;
  top: 19px;
}
.header__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  white-space: nowrap;
}
.header__list_menu {
  padding: 0px 420px 0px 55px;
}
.item__header-color {
  color: #222222;
  text-decoration: none;
}
.item__header:not(:last-child) {
  margin-right: 27px;
}
.item__header:nth-child(5) {
  margin-right: 5px;
}
.item__header-a {
  padding-bottom: 30px;
}
.item__header-a:hover {
  border-bottom: 5px solid #8AD7FF;
  transition: 0.1s ease-in-out;
}
.item__header-a:hover {
  border-bottom: 5px solid #8AD7FF;
  transition: 0.2s ease-in-out;
}
.item__header-a:not(hover) {
  transition: 0.1s;
}
.header__list_profile {
  padding-left: 0px;
}
.header__profile-pic {
  margin-left: 5px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #000000;
}
.header__profile-pic-a {
  display: inline-block;
}

.online-info {
  background-color: rgba(138, 215, 255, 0.2);
  height: 149px;
  padding-top: 35px;
  margin-bottom: 60px;
}
.online-info__title {
  display: block;
  font-weight: bold;
  font-size: 2.118rem;
  margin-bottom: 15px;
}
.online-info__main {
  font-weight: 400;
}
.item__online-info {
  font-weight: 500;
}

.card {
  display: flex;
  background-color:#E8F7FF;
  border: 2px solid #8AD7FF;
  border-radius: 15px;
  /* width: 1554px;
  height: 392px; */
  padding: 40px;
}
.section__card {
  margin-bottom: 30px;
}
.card__rate {
  text-align: center;
  margin-right: 39px;
}
.card__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.card__rating {
  display: block;
  font-size: 1.176rem;
  color: #2A7FAC;
  font-weight: 500;
  margin-bottom: 15px;
}
.card__before-rate {
  width: auto;
  font-size: 0.9412rem;
  white-space: pre;
  font-weight: 500;
  padding: 3px 12px 4px 13px;
  background-color: #ffffff;
  border: 2px solid #8AD7FF;
  box-sizing: border-box;
  border-radius: 4px;
}
.card__out {
  font-weight: 400;
}
.card__hospital {
  margin-right: 75px;
}
.card__title {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.412rem;
}
.card__info {
  font-weight: 400;
  width: 905px;
  line-height: 1.3;
  font-size: 1.176rem;
  margin-bottom: 28px;
}
.card__text {
  display: block;
}
.card__online-reg {
  display: flex;
}

.button {
  font-size: 0.9412rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #8AD7FF;
  border-radius: 20px;
  border: 1px solid #8AD7FF;
  padding: 14px 38px 13px 38px;
}
.button:focus {
  outline: none;
}
.button:hover {
  background-color: transparent;
  transition: 0.4s;
  color: #8AD7FF;
}
.button:not(hover) {
  transition: 0.3s;
}

.card__button {
  margin-right: 15px;
}
.card__reg-info {
  color: #000000;
  width: 275px;
  line-height: 1.3;
  font-size: 0.8235rem;
}

.card__rate-it {
  margin-top: 30px;
  font-size: 1.176rem;
}
.card__rate-afford {
  margin-right: 15px;
}
.card__dot {
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border: 1px solid #2A7FAC;
  border-radius: 50%;
  display: inline-block;
}
.card__dot:not(:last-child) {
  margin-right: 4.5px;
}
.card__dot:hover {
  background-color: #2A7FAC;
}

.card__contact-hours {
  display: flex;
  flex-direction: column;
}
.card__contact-hours-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.412rem;
  color: #2A7FAC;
}
.card__hours {
  margin-top: 12px;
}
.card__contact-hours-text {
  font-size: 1.176rem;
}
.card__contact-hours-text:nth-child(2) {
  display: inline-block;
  margin-bottom: 43px;
  line-height: 1.6;
}
.card__contact-hours-text:nth-child(4) {
  line-height: 1.4;
}
.pagination {
  font-size: 0.8235rem;
  color: #222222;
}
.pagination_sec {
  margin-bottom: 115px;
}
.item__pagination {
  padding: 3px 6.5px 2px 6.5px;
  text-decoration: none;
}
.item__pagination:not(:last-child) {
  margin-right: 11px;
}
.item__pagination:last-child {
  padding: 5px 6.5px 5px 6.5px;
}
.pagination__dots {
  font-family: 'Lato', sans-serif;
  font-size: 1.176rem !important;
  white-space: pre;
}
.pagination_active {
  margin-right: 19px;
}

.item__pagination_active, .item__pagination:hover:not(.pagination__dots)  {
  background-color: #222222;
  fill: white;
  color: white;
}

.footer {
  background: #222222;
  font-family: 'Comfortaa', cursive;
  padding-top: 97px;
  color: #ffffff;
}
.footer__links {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  word-wrap: normal;
  margin-right: 68px;
}
/* .footer__link:not(last-child) {
  margin-right: 68px;
} */
.footer__title {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8824rem;
}
.footer__title-support {
  font-size: 0.9412rem !important;
}
.footer__link-a, .footer__link-mail { 
  white-space: nowrap;
  font-size: 0.8235rem;
  text-decoration: none;
  color: #ffffff;
}
.footer__link-a:not(:last-child) {
  margin-bottom: 15px; 
}
.footer__link:last-child {
  font-size: 0.7647rem;
  margin-right: 0px;
}
.footer__link-a:hover, .footer__link-mail:hover{
  color: #8AD7FF;
}
.footer__link-mail {
  font-size: 0.8824rem !important;
}
.footer__mail {
  font-weight: 700;
}
.footer__info {
  line-height: 1.4;
}
.footer__info:not(:last-child) {
  margin-bottom: 10px; 
}

.footer__socials {
  background: #000000;
  height: 52px;
  padding-top: 18px;
}
.footer__icon {
  text-decoration: none;
  color: #FFFFFF;
  width: 16px;
  height: 16px;
}
.footer__icon:first-child {
  margin-right: 17px;
}
.footer__icon:nth-child(2) {
  margin-right: 12px;
}
.footer__icon:hover {
  color: #8AD7FF;
  transform: scale(1.2);
}